{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!-- Bootstrap -->
<link href="{{ relative }}css/bootstrap.min.css" rel="stylesheet">
<script src="{{ relative }}js/list.js"></script>
<script src="{{ relative }}js/jquery-3.1.0.min.js"></script>
<script src="{{ relative }}js/bootstrap.min.js"></script>

<div class="container">
    <div class="starter-template row">
        <h1>Prefix visibility at RIPE RIS/Routeviews collectors</h1>
        <p class="lead">Time period:<br><span id="time_start"></span> - <span id="time_end"></span></p>

    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#vis_table" data-toggle="tab">Visibility Table</a></li>
        <li class="nav"><a href="#analysis" data-toggle="tab">Analysis</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="vis_table">
        {% include pref_vis_table.html %}
        </div>
        <div class="tab-pane fade" id="analysis">
        {% include pref_vis_analysis.html %}
        </div>
    </div>
</div>
<script type="text/javascript">
function createDateAsUTC(date) {
    return new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(),
    date.getMinutes(), date.getSeconds()));
    }
function convert_unix_ts_to_date(unix_ts) {
  var a = new Date(unix_ts * 1000);
  console.log(unix_ts);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getUTCFullYear();
  var month = months[a.getUTCMonth()];
  var date = a.getUTCDate();
  var hour = a.getUTCHours();
  var min = a.getUTCMinutes() < 10 ? '0' + a.getUTCMinutes() : a.getUTCMinutes(); 
  var sec = a.getUTCSeconds() < 10 ? '0' + a.getUTCSeconds() : a.getUTCSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec  + ' UTC';
  return time;
}

document.getElementById("time_start").innerHTML = convert_unix_ts_to_date({{ prefvis.start }});
document.getElementById("time_end").innerHTML = convert_unix_ts_to_date({{ prefvis.end }});

</script>


